*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
}

header{
    height: 30vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(../img/introbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .introduction{
    font-size: 2rem;
    color: whitesmoke;
}